/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    /* background: url(https: //www.freepptbackgrounds.net/abstract/abstract-circle-powerpoint-template); */
    /* background: url('https: //wallpapercave.com/black-and-white-abstract-wallpaper');     */
    /* background: url('https://static.vecteezy.com/system/resources/previews/001/987/497/original/abstract-stripes-golden-lines-diagonal-overlap-on-black-background-luxury-stryle-free-vector.jpg'); */
    /* background: url('https://www.teahub.io/photos/full/103-1031656_abstract-black-white-line-creative-background-wallpaper-black.jpg'); */
    /* background: url('https://cdn.kibrispdr.org/data/2/abstract-background-black-and-white-2.jpg'); */
    background: url('https://static.vecteezy.com/system/resources/previews/005/182/835/non_2x/realistic-dark-blue-background-with-low-poly-shape-and-shadow-abstract-blue-banner-free-vector.jpg');
    min-height: 100vh;
    background-size: cover;
}

.content {
    width: 100%;
    height: 100vh;
    background: #0006;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timing {
    font-size: 40px;
}

.content h2 {
    font-size: 100px;
    font-weight: 900;
    margin: 10px;
    /* font-family: bebas neue; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Bebas Neue', cursive;
}

/* .content a {
    text-decoration: none;
    background: #fff;
    color: #111;
    padding: 10px 35px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
} */

.content p {
    margin: 0 auto;
    width: 35%;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.9;
    overflow: 15px 0;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px ;
    margin-bottom: 10px;
}

.content a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    /* color: #2196f3; */
    color: #1F51FF;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    border: 1px solid #fff;
    border-radius: 50px;
}

a:hover {
    /* color: #255784; */
    color: #fff;
    border: none;
    background: #1F51FF;
    box-shadow: 0 0 10px #1F51FF, 0 0 40px #1F51FF, 0 0 80px #1F51FF;
/*     transition-delay: 1s; */
}

a span {
    position: absolute;
    display: block;
    font-family: 'Montserrat', sans-serif;
}

a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #1F51FF);
}

a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

a span:nth-child(3) {
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #1F51FF);
}

a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #1F51FF);
}

a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a span:nth-child(4) {
    bottom: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #1F51FF);
}

a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
